html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* * {
    outline: 1px solid red;
} */

body {
    background-color: antiquewhite;
}

.title {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: brown;

    text-align: center;
    width: 50vw;
    height: auto;
    margin: 30px auto;
    padding: 20px 10px;
    background-color: rgb(252, 213, 176);
    border: 5px groove rgb(255, 0, 0);
}

img {

    display: block;
    height: auto;
    width: 300px;

    margin-left: auto;
    margin-right: auto;

    border: 10px solid;
    border-top-color: rgb(224, 211, 169);
    border-bottom-color: rgb(131, 85, 64);
    border-left-color: rgb(214, 190, 155);
    border-right-color: rgb(145, 108, 78);
    border-style: groove;
    
}

h3,
p,
ul,
ol {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

p,
ul,
ol {
    color: rgb(85, 23, 23);
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
    color: beige;
    padding: 10px 20px;
    border: 5px groove brown;
}
